body {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}

#vercel-feedback-button {
  display: none !important;
}

html {
  overflow-y: scroll;
}

body.MuiModal-open {
  padding-right: 15px !important; /* adjust if your scrollbar is different */
}
